body a.squared-button {
  margin: 5px 20px 5px 0;
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  text-transform: uppercase;
  background: #623580 url(../media/white_right.png);
  background-repeat: no-repeat;
  background-position: right 10px bottom 13px;
  padding: 12px 35px 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: white !important;
  text-shadow: 1px 1px 1px #666;
  float: left;
}
body a.squared-button:hover {
  background-color: #7c8890;
  text-decoration: none;
}
body a.squared-button-reverse {
  margin: 5px 20px 5px 0;
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  text-transform: uppercase;
  background: #7c8890 url(../media/white_right.png);
  background-repeat: no-repeat;
  background-position: right 10px bottom 13px;
  padding: 12px 35px 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: white !important;
  text-shadow: 1px 1px 1px #666;
  float: left;
}
body a.squared-button-reverse:hover {
  background-color: #623580;
  text-decoration: none;
}


.tabcontent {
    display: none;
    clear: both;
}
.squared-button {
  width: 14rem;
}
.squared-button-reverse {
  width: 14rem;
}
.tdclass {
  vertical-align: top;
}
.tdtype {
  vertical-align: top;
}


