/* Style the tab */
.sampletab {
    overflow: hidden;
    display: block;
    width: 100%
}

/* Style the buttons inside the tab */
.sampletab button {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    background-color: #bdbdbd;
    border-radius: 8px;
    float: left;
}

/* Change background color of buttons on hover */
.sampletab button:hover {
    background-color:  #1d9cd8;
}

/* Create an active/current tablink class */
.sampletab button.active {
    background-color:  #1d9cd8;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

